<div class="container">
  <div class="card">
    <h2>Add New Product</h2>

    <form (ngSubmit)="createProduct()">
      <label>Product Title</label>
      <input
        type="text"
        [(ngModel)]="product.title"
        name="title"
        placeholder="Example: iPhone 16 Pro"
        required
      />

      <label>Description</label>
      <textarea
        [(ngModel)]="product.description"
        name="description"
        rows="3"
        placeholder="Example: Apple flagship smartphone with A18 Pro chip"
        required
      >
      </textarea>

      <label>Price</label>
      <input
        type="number"
        [(ngModel)]="product.price"
        name="price"
        placeholder="Example: 65000"
        required
      />

      <label>Discount (%)</label>
      <input
        type="number"
        [(ngModel)]="product.discount"
        name="discount"
        placeholder="Example: 10"
      />

      <label>Stock Quantity</label>
      <input type="number" [(ngModel)]="product.stock" name="stock" placeholder="Example: 25" />

      <div class="label-header">
        <label>Brand</label>
        <button type="button" class="btn-add-quick" (click)="addNewBrand()">+ Add Brand</button>
      </div>
      <select [(ngModel)]="product.brandId" name="brandId">
        <option value="">-- Select Brand --</option>
        @for (b of brands; track b._id) {
          <option [value]="b._id">{{ b.name }}</option>
        }
      </select>

      <div class="label-header">
        <label>Category</label>
        <button type="button" class="btn-add-quick" (click)="addNewCategory()">+ Add Category</button>
      </div>
      <select [(ngModel)]="product.categoryId" name="categoryId">
        <option value="">-- Select Category --</option>
        @for (c of categories; track c._id) {
          <option [value]="c._id">{{ c.name }}</option>
        }
      </select>

      <div class="label-header">
        <label>SubCategory</label>
        <button type="button" class="btn-add-quick" (click)="addNewSubCategory()">+ Add SubCategory</button>
      </div>
      <select [(ngModel)]="product.subCategoryId" name="subCategoryId">
        <option value="">-- Select SubCategory --</option>
        @for (sc of subCategories; track sc._id) {
          <option [value]="sc._id">{{ sc.name }}</option>
        }
      </select>

      <label>Colors</label>
      <input
        type="text"
        [(ngModel)]="product.colors"
        name="colors"
        placeholder="Example: Black,Blue,Silver"
      />

      <label>Sizes</label>
      <input
        type="text"
        [(ngModel)]="product.sizes"
        name="sizes"
        placeholder="Example: 128GB,256GB"
      />

      <label>Product Image</label>
      <input type="file" (change)="onFileChange($event)" />

      <button type="submit">Add Product</button>
    </form>
  </div>
</div>
