<div class="toast-container">
  @for (toast of toasts; track toast.id) {
    <div class="toast-item" [ngClass]="toast.type">
      <div class="icon">
        @switch (toast.type) {
          @case ('success') {
            ✔️
          }

          @case ('error') {
            ❌
          }

          @case ('warning') {
            ⚠️
          }

          @case ('info') {
            ℹ️
          }
        }
      </div>

      <div class="message">
        {{ toast.text }}
      </div>

      <button (click)="dismiss(toast.id)">✖</button>

      <div class="progress"></div>
    </div>
  }
</div>
