<div class="profile-container">
  @if (user) {
    <div class="profile-card">
      <div class="avatar">{{ user.firstname?.charAt(0) }}{{ user.lastname?.charAt(0) }}</div>

      <h2>{{ user.firstname }} {{ user.lastname }}</h2>

      <p>{{ user.email }}</p>

      <hr />

      <h3>My Addresses</h3>

      @if (addresses.length) {
        @for (address of addresses; track address._id) {
          <div class="address-card">
            <b>{{ address.city }}</b>

            <p>
              {{ address.street }}, Building {{ address.building }}, Floor {{ address.floor }},
              Apartment {{ address.apartment }}
            </p>

            <small>{{ address.phoneNumber }}</small>

            <br />

            <button class="btn secondary" (click)="deleteAddress(address._id)">Delete</button>
          </div>
        }
      } @else {
        <p>No Address Yet</p>
      }

      <hr />

      <h3>Add Address</h3>

      <input placeholder="City" [(ngModel)]="address.city" />

      <input placeholder="Street" [(ngModel)]="address.street" />

      <input placeholder="Building" [(ngModel)]="address.building" />

      <input placeholder="Floor" [(ngModel)]="address.floor" />

      <input placeholder="Apartment" [(ngModel)]="address.apartment" />


      <br /><br />

      <button class="btn" (click)="addAddress()">Add Address</button>

      <hr />

      <div class="actions">
        <a routerLink="/orders" class="btn"> Orders </a>

        <a routerLink="/cart" class="btn secondary"> Cart </a>

        <a routerLink="/wishlist" class="btn secondary"> Wishlist </a>

        <button class="logout" (click)="logout()">Logout</button>
      </div>
    </div>
  }
</div>
