<div class="orders-container">
  <div class="header-row">
    <h2>{{ isAdmin ? 'All Orders' : 'My Orders' }}</h2>
  </div>

  @if (loading) {
    <p>Loading...</p>
  } @else if (!orders.length) {
    <p>No Orders</p>
  } @else {
    <div class="orders-list">
      @for (order of orders; track order._id) {
        <div class="order-card">
          <div class="order-header">
            <div>
              <h4>Order #{{ order._id }}</h4>

              <small>
                {{ order.createdAt | date: 'medium' }}
              </small>
            </div>

            <span class="status-badge" [ngClass]="getStatusBadgeClass(order.status)">
              {{ order.status }}
            </span>
          </div>

          <hr />

          <p><b>Payment:</b> {{ order.paymentMethod }}</p>

          <p>
            <b>Address:</b>

            {{ order.addressId?.city }}

            -

            {{ order.addressId?.street }}

            -

            {{ order.addressId?.building }}
          </p>

          <p>
            <b>Total:</b>

            {{ order.finalPrice }} EGP
          </p>

          <div class="order-actions">
            @if (!isAdmin && order.status === 'Pending') {
              <button class="btn btn-cancel" (click)="cancelOrder(order._id)">Cancel Order</button>
            }

            @if (isAdmin) {
              <select [value]="order.status" (change)="updateStatus(order._id, $event)">
                <option value="Pending">Pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Packed">Packed</option>
                <option value="Shipped">Shipped</option>
                <option value="Delivered">Delivered</option>
                <option value="Cancelled">Cancelled</option>
              </select>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
